* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  header {
      display: grid;
      margin-top:2em;
      align-items: center;
      justify-content: center;
}

h3{
    margin-top:2em;
    text-align: center;
}

  main {
    display: flex;
    margin-top:2em;
    padding:1em;
    width: 80vw;
  }

  main:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

 .ingredients {
    background: darkorange;
    margin-right: 1em;
    padding: 1em;
 }

 .guide {
    background: grey;
    padding: 1em;

 }