* {
  border: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  width: 90vw;
  display: flex;
  justify-content: center;
}

.layout {
  margin: 5vh;
}

main:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

/* h3{
    margin-top:2em;
    text-align: center;
}

  main {
    display: flex;
    margin-top:3em;
    padding:1em;
    width: auto;
  }

  main:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

 .ingredients {
    background: darkorange;
    margin-right: 1em;
    padding: 2em;
 }

 .guide {
    background: grey;
    padding: 1em;

 } */
